<h2><%= @job.title %></h2>
<%= link_to "View original posting", @job.url %>
<%= simple_form_for @job do |f|%>
  <%= f.input :title %>
  <%= f.input :company %>
  <%= f.input :location %>
  <%= f.input :contacts %>
  <%= f.input :company_info %>
  <%= f.input :build %>
  <%= f.input :next_step %>
  <%= f.input :interview_date, include_blank: true %>
  <%= f.input :learn_technical %>
  <%= f.input :interested %>
  <%= f.input :contacted %>
  <%= f.input :salary %>
  <%= f.input :body, :input_html => {:rows => 10} %>
  <%= f.input :url %>
  <%= f.submit %>
<% end %>
