<h1>Jobs</h1>
<% @jobs.each do |job| %>
  <h3><%= job.title %></h3>
  <p><%= job.location %></p>
  <p><%= job.company %></p>
  <p><%= job.salary %></p>
  <p><%= link_to "Original Posting", job.url %></p>

   <p><a class="btn btn-primary" href="/jobs/<%= job.id %>/edit" role="button">Edit</a></p>

  <%= button_to "Delete", job, :method => :delete, class: "btn btn-danger"  %>

<% end %>
