<h1>Add Job</h1>
<%= simple_form_for @job do |f|%>
  <%= f.input :title %>
  <%= f.input :company %>
  <%= f.input :location %>
  <%= f.input :salary %>
  <%= f.input :contacts %>
  <%= f.input :company_info %>
  <%= f.input :build %>
  <%= f.input :next_step %>
  <%= f.input :interview_date, include_blank: true %>
  <%= f.input :learn_technical %>
  <%= f.input :interested %>
  <%= f.input :contacted %>
  <%= f.input :url %>
  <%= f.submit %>
<% end %>
